/* css styles */

.myclass p {
  margin-bottom: 0.2em; /* Optional: Reduce space after paragraphs */
}

.myclass {
    font-size: 1.05em;
    line-height: 1.3; /* Adjust this value to reduce line spacing (default is ~1.5) */
    margin-bottom: 1.6em; /* Optional: Reduce space after paragraphs */
    margin-top: 1em;
}

.small {
  font-size: 0.8em;
  color: #666;
}